<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ten</label>
    <input type="text" class="form-control" formControlName="name" />
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Gia</label>
    <input
      type="number"
      class="form-control"
      id="exampleInputPassword1"
      formControlName="price"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
